* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.w-20{
    width: 20%;
}

.w-80{
    width: 78%;
}
.w-25{
    width: 23%;
}

/* Header top */
#header-top {
    background-color: #eae0e0;
}

#header-top>.container {
    display: flex;
    justify-content: flex-end;
}

#header-top a {
    color: black;
    font-weight: bold;
}

#header-top-left,
#header-top .header-top-icon {
    padding: .4rem 0.8rem;
}

#header-top-left span i {
    color: rgb(237, 120, 11);
}

#header-top .header-top-icon {
    border-left: 2px solid #ccc;
}

#header-top>.container:last-child {
    border-right: 2px solid #ccc;
}

/* ./Header top */
/* Header mid */
#search,
#header-mid .header-mid-logo,
#header-mid .header-mid-content {
    align-content: center;
}

#search input {
    padding: 0.5rem;
    width: 20rem;
    border-color: #ccc;
}

#search button {
    padding: 0.5rem;
    margin: -0.5rem;
    border-color: #ccc;
}

#header-mid img {
    object-fit: contain;
}

#header-mid .header-mid-content {
    text-transform: uppercase;
    width: 12.5rem;
    margin-left: 1rem;
}

/* ./Header mid */
/* Header bottom */
#header-bottom {
    background-color: rgb(2, 177, 2);
    /* padding: 0.5rem; */
}
#header-bottom .container>nav>ul>li{
    padding: 0.5rem;
}


#header-bottom #menu-1>li>a {
    text-transform: uppercase;
    /* padding: 0.5rem; */
    color: #fff;
    font-weight: bold;
}

#header-bottom #menu-1>li {
    position: relative;
}
#header-bottom #menu-1>li:hover {
    background-color: rgb(211, 139, 5);
}

#header-bottom #menu-1>li:hover>ul {
    display: block;
}

#header-bottom #menu-1>li>ul {
    position: absolute;
    /* top: calc(100% + 0.5rem); */
    top: 100%;
    left: 0;
    background-color: #dfdbdb;
    width: 100%;
    display: none;
}

#header-bottom img {
    padding: 0 0.5rem;
}

#header-bottom #menu-1>li>ul>li {
    padding: 0.6rem 0;
    border: #ccc 1px solid;
    border-top: none;
}

#header-bottom #menu-1>li>ul a {
    color: black;
}

/* ./Header bottom */

/* Footer */
footer{
    margin-top: 20rem;
    background-image: url(../imgs/bg_footer.png);
    height: 20rem;
}

#footer-top{
    background-color: rgba(2, 152, 2 , 0.7);
    padding: 0.5rem;
}
#footer-top ul li{
    padding: 0.5rem;

}

#footer-top ul li a,
#footer-top #footer-top-right {
    color: #fff;
}

#footer-top #footer-top-right>div{
    padding: 0.5rem;      
}

#footer-top .footer-top-icon{
    border-radius: 50%;
    border: #fff solid 1px;
    margin: 0 0.5rem;
}
#footer-top .footer-top-icon span{
    padding: 0.5rem 0.25rem;
}

#footer-top .footer-top-icon span>i{
    width: 1.25rem;
    height: 1rem;
    text-align: center;
}

#footer-bottom{
    margin-top: 1.5rem;
}
#footer-bottom address
,#footer-bottom address a{
  color: #fff;
}
#footer-bottom address h3{
    padding-bottom: 0.7rem;
    text-transform: uppercase;
}
#footer-bottom address ul li{
    display: flex;
    padding: 0.3rem 0;
}
#footer-bottom address ul li span{
    padding-right: 0.4rem;
}
#footer-bottom  #copyright{
   padding-left: 0.3rem;
   font-size: large;
}
#footer-bottom address {
    font-style: normal;
}
/* ./Footer */